.about {
  max-width: 627px; }
  .about .flex-container .flex-item .bio {
    margin-bottom: 13px; }
  .about .list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .about .list .list-item {
      position: relative;
      margin-bottom: 16px; }
      .about .list .list-item i {
        position: absolute;
        left: -50px;
        top: -3px; }
      .about .list .list-item .title {
        color: #8a8a8a; }
