.about-section {
  max-width: 627px;

  .flex-container {
    .flex-item {
      .bio {
        margin-bottom: 13px;
        font-size: 17px;
        line-height: 28px;
      }
    }
  }

  .about-items {
    list-style: none;
    margin: 0;
    padding: 0;
    //padding: 0 0 0 51px;

    .about-item {
      position: relative;
      margin-bottom: 16px;

      i {
        position: absolute;
        left: -50px;
        top: -3px;
      }
      .title {
        color: #8a8a8a;
      }
    }
  }
}
