@import "./Shared.scss";

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  font: normal 15px/2 Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #c4c4c4;
}

a {
  color: #1daf6b;
  text-decoration: none;

  &:hover {
    color: #85e5b5;
    border-bottom: 1px solid #85e5b5;
    padding-bottom: 3px;
  }
}

.App {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 30px 15px;
  font-family: sans-serif;
}
