.header {
  margin-bottom: 80px; }
  .header .section-title {
    margin-bottom: 5px;
    padding-bottom: 30px;
    font-size: 40px;
    letter-spacing: 12px;
    text-shadow: -1px 0 #c4c4c4, 0 1px #c4c4c4, 1px 0 #c4c4c4, 0 -1px #c4c4c4;
    color: #000;
    text-align: center;
    cursor: default;
    border-bottom-style: dashed; }
    .header .section-title:hover {
      color: #fff; }
    .header .section-title .first-name {
      display: block;
      margin-bottom: -18px; }
  .header .main-nav {
    border-top: 1px dashed #c4c4c4;
    padding-top: 30px; }
  .header .main-nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap; }
    .header .main-nav-items .main-nav-item {
      text-align: center;
      /* horizontal align: center */
      flex-grow: 1;
      padding: 15px; }
      .header .main-nav-items .main-nav-item a:hover {
        border: 0; }
