.header {
  position: relative;
  margin-bottom: 20px;

  .section-title {
    margin: 0 0 5px 0;
    padding: 10px 0 6px;
    font-size: 70px;
    color: #d4d4d4;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    line-height: 91px;
  }

  .main-nav {
    margin-top: 30px;
  }

  .main-nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    .main-nav-item {
      text-align: center; /* horizontal align: center */
      flex-grow: 1;
      padding: 15px;

      a {
        &:hover {
          border: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 821px) {
  .header {
    .section-title {
      font-size: 60px;
      line-height: 73px;
    }
  }
}

@media only screen and (max-width: 585px) {
  .header {
    .main-nav-items {
      .main-nav-item {
        padding: 6px;

        &.say-hello {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 495px) {
  .header {
    .section-title {
      font-size: 55px;
      line-height: 65px;
    }
  }
}

@media only screen and (max-width: 455px) {
  .header {
    .section-title {
      font-size: 40px;
      line-height: 50px;
    }

    .main-nav {
      display: none;
    }
  }
}

@media only screen and (max-width: 360px) {
  .header {
    .section-title {
      font-size: 35px;
      line-height: 37px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .header {
    .section-title {
      font-size: 32px;
      line-height: 34px;
    }
  }
}
