.header {
  position: relative;
  margin-bottom: 28px;

  .section-title {
    margin: 0 0 5px 0;
    padding: 10px 0 6px;
    font-size: 40px;
    letter-spacing: 7px;
    color: #d4d4d4;
    text-align: left;
    border-top: 0;
  }

  .main-nav {
    margin-top: 10px;
  }

  .main-nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    .main-nav-item {
      text-align: center; /* horizontal align: center */
      flex-grow: 1;
      padding: 15px;

      a {

        &:hover {
          border: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 821px) {
  .header {
    .section-title {
      padding-bottom: 25px;
      font-size: 35px;
      letter-spacing: 4px;
      line-height: 45px;
    }
  }
}

@media only screen and (max-width: 585px) {
  .header {
    .section-title {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 320px) {
  .header {
    margin-bottom: 40px;

    .section-title {
      font-size: 28px;
      line-height: 35px;
    }

    .main-nav-items {

      .main-nav-item {
        padding: 6px;
      }
    }
  }
}
