.header {
  position: relative;
  margin-bottom: 40px;

  .section-title {
    margin: 0 0 5px 0;
    padding: 10px 0 6px;
    font-size: 45px;
    letter-spacing: 7px;
    color: #d4d4d4;
    text-align: left;
    border-top: 0;
    font-family: "Caveat", cursive;
    font-weight: normal;
    background: none;
  }

  .main-nav {
    margin-top: 10px;
  }

  .main-nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    .main-nav-item {
      text-align: center; /* horizontal align: center */
      flex-grow: 1;
      padding: 15px;

      a {
        &:hover {
          border: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 821px) {
  .header {
    .main-nav {
        margin-top: 30px;
      }
    .section-title {
      padding-bottom: 25px;
      font-size: 35px;
      letter-spacing: 4px;
      line-height: 45px;
    }
  }
}

@media only screen and (max-width: 585px) {
  .header {
    .section-title {
      text-align: left;
      margin-bottom: 25px;
    }

    .main-nav-items {
      .main-nav-item {
        padding: 6px;

        &.say-hello {
          margin-right: 300px;
          margin-bottom: 30px;
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .header {
    .section-title {
      font-size: 28px;
      line-height: 37px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .header {
    margin-bottom: 40px;

    .section-title {
      font-size: 24px;
      line-height: 34px;
    }

    .main-nav-items {
      .main-nav-item {
        padding: 6px;
      }
    }
  }
}
