.section {
  margin-bottom: 45px; }
  .section .section-title {
    font-size: 22px;
    border-bottom: 1px solid #c4c4c4; }

.projects-section .projects-items {
  list-style: none;
  margin: 0;
  padding: 0; }
  .projects-section .projects-items .projects-item i {
    margin-right: 7px; }
