#contact_form {
  text-align: left;
  margin-left: -15px;
  margin-top: -6px;

  label {
    span {
      font-size: 18px;
    }
  }

  input {
    width: 166px;
    background-color: #121212;
    height: 22px;
    padding: 2px 10px;
    border: 1px solid #000;
    color: #c4c4c4;
    font-size: 16px;
    margin-top: 6px;
  }
}
