.skill .list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 51px; }
  .skill .list .list-item {
    position: relative;
    margin-bottom: 22px; }
    .skill .list .list-item i {
      position: absolute;
      left: -50px;
      top: -2px; }
    .skill .list .list-item .title {
      margin-left: 10px; }
