.skills-section {

  .skills-items {
    list-style: none;
    margin: 0;
    padding: 0 0 0 51px;

    .skills-item {
      position: relative;
      margin-bottom: 22px;

      i {
        position: absolute;
        left: -50px;
        top: -3px;
      }
    }
  }
}
