.skills-section .skills-items {
  list-style: none;
  margin: 0;
  padding: 0 0 0 51px; }
  .skills-section .skills-items .skills-item {
    position: relative;
    margin-bottom: 22px; }
    .skills-section .skills-items .skills-item i {
      position: absolute;
      left: -50px;
      top: -1px; }
    .skills-section .skills-items .skills-item .green {
      margin-left: 10px; }
