.project .list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 51px; }
  .project .list .list-item {
    position: relative;
    margin-bottom: 25px; }
    .project .list .list-item i {
      position: absolute;
      left: -50px;
      top: 0; }
    .project .list .list-item p {
      margin: 0; }
